{% extends "base/base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/stylege.css') }}">
<script src="{{ url_for('static', filename='js/scriptge.js') }}"></script>

<div class="row filterGroup">
    <form action="{{ url_for('entreprise_graph') }}" method="POST" class="formSearch fl">
        <input type="text" class="inputSearch" name="search" placeholder="Search">
        <button type="submit" class=""><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>

    <div class="areaFilter fr row">

        <div class="boxSelect fr">
            <div class="titleSelect">Sort by</div>
            <ul class="optionSelect">
                <li><a href="{{ url_for('entreprise_graph', sort_by='alphabet') }}">Alphabet</a></li>
                <li><a href="{{ url_for('entreprise_graph', sort_by='chiffre_affaire_asc') }}">Chiffre d'affaire, Ascending</a></li>
                <li><a href="{{ url_for('entreprise_graph', sort_by='chiffre_affaire_desc') }}">Chiffre d'affaire, Descending</a></li>
                <li><a href="{{ url_for('entreprise_graph', sort_by='latest') }}">Latest</a></li>
            </ul>
        </div>
        <!-- FILTER -->
      
        <div class="btnFilter fr bg-fff"><span class="fa fa-filter"></span>Filter</div>
        <div class="boxFilter">
            <div class="btnFilter"><span class="fa fa-close"></span>Close</div>
            <!-- GROUP -->
            <form action="{{ url_for('entreprise_graph') }}" method="post">
            <div class="groupInput">
                <select name="secteur_activite">
                    <option value="">Secteur</option>
                    <!-- Dynamiquement charger les options depuis la base de données -->
                    {% for secteur in secteurs_activite_uniques %}
                        <option value="{{ secteur }}">{{ secteur }}</option>
                    {% endfor %}
                </select> 
                <select name="ville">
                    <option value="">Ville</option>
                    <!-- Dynamiquement charger les options depuis la base de données -->
                    {% for ville in villes_uniques %}
                        <option value="{{ ville }}">{{ ville }}</option>
                    {% endfor %}
                </select>
                <select name="departement">
                    <option value="">Departement</option>
                    <!-- Dynamiquement charger les options depuis la base de données -->
                    {% for departement in departements_uniques %}
                        <option value="{{ departement }}">{{ departement }}</option>
                    {% endfor %}
                </select>
                <select name="commune">
                    <option value="">Commune</option>
                    <!-- Dynamiquement charger les options depuis la base de données -->
                    {% for commune in communes_uniques %}
                        <option value="{{ commune }}">{{ commune }}</option>
                    {% endfor %}
                </select>
                <select name="localite">
                    <option value="">Localite</option>
                    <!-- Dynamiquement charger les options depuis la base de données -->
                    {% for localite in localites_uniques %}
                        <option value="{{ localite }}">{{ localite }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class=""><i class="fa fa-search"></i></button>
            </div>
          </form>            
        </div>
    </div>
</div>

<div class="dashboard-container">
  <section class="rectangle-section">
      <article class="table">
          
      </article>
      <article class="rectangle">
          <h2 class="section-title">Total Entreprises</h2>
          {{ total_entreprises }}
      </article>
      <article class="rectangle">
          <h2 class="section-title">Total Contacts Inconnu</h2>
          {{ total_contacts_inconnu }} ({{ pourcentage_inconnu }}%)
      </article>
      <article class="rectangle">
          <h2 class="section-title">Total Contacts Fixe</h2>
          {{ total_contacts_fixe }} ({{ pourcentage_fixe }}%)
      </article>
      <article class="rectangle">
          <h2 class="section-title">Total Contacts Mobile</h2>
          {{ total_contacts_mobile }} ({{ pourcentage_mobile }}%)
      </article>
  </section>

  <section class="table-graph-section">
        <article class="graph">
          <div class="graph-title">
              <h1>Entreprises par département</h1>
          </div>
          
          <div class="graph-canvas">
              <canvas id="departementChart" width="800" height="400"></canvas>
          </div>
      </article>
      <div class="middle-squares">
          <article class="square">
              <h2 class="section-title">Total Sites Web</h2>
              {{ total_sites_web }} ({{ pourcentage_sites_web }}%)
          </article>
          <article class="square">
              <h2 class="section-title">Dernière Mise à Jour</h2>
              {{ derniere_date_mise_a_jour }}
          </article>
          <article class="square">
              <h2 class="section-title">Contacts Inconnu</h2>
              {{ total_contacts_inconnu }} ({{ pourcentage_inconnu }}%)
          </article>
      </div>

          <section class="table-graph-section">
            <article class="graph">
              <div class="graph-title">
                  <h1>Evolution de la base </h1>
              </div>
              <div class="graph-canvas">
                <canvas id="evolutionChart" width="800" height="400"></canvas>
              </div>
          </article>
          <article class="graph">
            <div class="graph-title">
                <h1>Secteur d'activité</h1>
            </div>
            <div class="graph-canvas">
              <canvas id="evolutionChart" width="800" height="400"></canvas>
            </div>
        </article>
        </section>

      <article class="table">
          <h2 class="section-title">Pourcentage d'entreprises par secteur</h2>
          <table>
              <thead>
                  <tr>
                      <th>Secteur</th>
                      <th>Effectifs</th>
                      <th>Pourcentage</th>
                  </tr>
              </thead>
              <tbody>
                  {% for i in range(secteurs_activite|length) %}
                      <tr>
                          <td>{{ secteurs_activite[i] }}</td>
                          <td>{{ entreprises_par_secteur_counts[i] }}</td>
                          <td>{{ pourcentage_par_secteur[i] }}%</td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      </article>
  </section>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
      // Récupérer les données du serveur (à partir de votre objet chart_data)
      var dates = {{ dates | tojson }};
      var evolutionData = {{ evolution_quotidienne | tojson }};
      var departementLabels = {{ departements | tojson }};
      var pourcentageParDepartement = {{ pourcentage_par_departement | tojson }};
  
      // Couleurs différentes pour le graphique d'évolution quotidienne
      var evolutionChartBorderColor = 'rgba(255, 99, 132, 1)';
      var evolutionChartBackgroundColor = 'rgba(255, 99, 132, 0.2)';
  
      // Couleurs différentes pour le graphique de pourcentage par département
      var departementChartColors = [
          'rgba(255, 0, 0, 0.7)',
          'rgba(0, 128, 0, 0.7)',
          'rgba(0, 0, 255, 0.7)',
          'rgba(255, 165, 0, 0.7)',
          'rgba(128, 0, 128, 0.7)',
          'rgba(255, 206, 86, 0.7)',
          'rgba(75, 192, 192, 0.7)',
          'rgba(54, 162, 235, 0.7)',
          'rgba(255, 159, 64, 0.7)',
          'rgba(50, 205, 50, 0.7)',
          'rgba(153, 102, 255, 0.7)',
          'rgba(255, 0, 0, 0.7)'
          // Ajoutez plus de couleurs au besoin
      ];
  
      // Créer un objet Chart pour le graphique d'évolution quotidienne
      var evolutionChartCtx = document.getElementById('evolutionChart').getContext('2d');
      var evolutionChart = new Chart(evolutionChartCtx, {
          type: 'line',
          data: {
              labels: dates,
              datasets: [{
                  label: 'Évolution quotidienne',
                  data: evolutionData,
                  borderColor: evolutionChartBorderColor,
                  backgroundColor: evolutionChartBackgroundColor,
                  borderWidth: 2,
                  fill: true
              }]
          },
          options: {
              responsive: true,
              maintainAspectRatio: false,
              scales: {
                  x: {
                      type: 'linear',
                      position: 'bottom'
                  },
                  y: {
                      min: 0
                  }
              }
          }
      });
  
      // Créer un objet Chart pour le graphique de pourcentage par département
      var departementChartCtx = document.getElementById('departementChart').getContext('2d');
      var departementChart = new Chart(departementChartCtx, {
          type: 'doughnut',
          data: {
              labels: departementLabels,
              datasets: [{
                  data: pourcentageParDepartement,
                  backgroundColor: departementChartColors,
                  borderWidth: 1
              }]
          },
          options: {
              responsive: true,
              maintainAspectRatio: false,
              legend: {
                  position: 'right', // La légende en colonne sur le côté droit
                  align: 'center',
                  labels: {
                      boxWidth: 15, // Largeur de la case de couleur
                      padding: 15 // Espacement entre les cases de couleur
                  }
              }
          }
      });
  });
  </script>
  

{% endblock %}