{% extends "base/base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/extra.css') }}">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<div class="row filterGroup">
    <form action="{{ url_for('extraction_entreprise') }}" method="POST" class="formSearch fl">
        <input type="text" class="inputSearch" name="search" placeholder="Search">
        <button type="submit" class="btnSearch"><i class="fa fa-search"></i></button>
    </form>

    <div class="areaFilter fr row">

        <div class="boxSelect fr">
            <div class="titleSelect">Sort by</div>
            <ul class="optionSelect">
                <li><a href="{{ url_for('extraction_entreprise', sort_by='alphabet') }}">Alphabet</a></li>
                <li><a href="{{ url_for('extraction_entreprise', sort_by='chiffre_affaire_asc') }}">Chiffre d'affaire, Ascending</a></li>
                <li><a href="{{ url_for('extraction_entreprise', sort_by='chiffre_affaire_desc') }}">Chiffre d'affaire, Descending</a></li>
                <li><a href="{{ url_for('extraction_entreprise', sort_by='latest') }}">Latest</a></li>
            </ul>
        </div>
        <!-- FILTER -->
        <div class="btnFilter fr bg-fff"><span class="fa fa-filter"></span>Filter</div>
        <div class="boxFilter">
            <div class="btnFilter"><span class="fa fa-close"></span>Close</div>
            <!-- GROUP -->
            <form action="{{ url_for('extraction_entreprise') }}" method="post">
            <div class="groupInput">
                <select name="secteur_activite">
                    <option value="">Secteur</option>
                    <!-- Dynamiquement charger les options depuis la base de données -->
                    {% for secteur in secteurs_activite_uniques %}
                        <option value="{{ secteur }}">{{ secteur }}</option>
                    {% endfor %}
                </select> 
                <select name="ville">
                    <option value="">Ville</option>
                    <!-- Dynamiquement charger les options depuis la base de données -->
                    {% for ville in villes_uniques %}
                        <option value="{{ ville }}">{{ ville }}</option>
                    {% endfor %}
                </select>
                <select name="type">
                    <option value="">Type</option>
                    <!-- Dynamiquement charger les options depuis la base de données -->
                    {% for type_contact in types_contacts_uniques %}
                        <option value="{{ type_contact }}">{{ type_contact }}</option>
                    {% endfor %}
                </select>
                <select name="departement">
                    <option value="">Departement</option>
                    <!-- Dynamiquement charger les options depuis la base de données -->
                    {% for departement in departements_uniques %}
                        <option value="{{ departement }}">{{ departement }}</option>
                    {% endfor %}
                </select>
                <select name="commune">
                    <option value="">Commune</option>
                    <!-- Dynamiquement charger les options depuis la base de données -->
                    {% for commune in communes_uniques %}
                        <option value="{{ commune }}">{{ commune }}</option>
                    {% endfor %}
                </select>
                <select name="localite">
                    <option value="">Localite</option>
                    <!-- Dynamiquement charger les options depuis la base de données -->
                    {% for localite in localites_uniques %}
                        <option value="{{ localite }}">{{ localite }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class=""><i class="fa fa-search"></i></button>
            </div>
          </form>            
            
        </div>
    </div>
</div>

    <div class="formHeader row">
        <h3 class="text-1 fl"><div class="fr">
            <a href="{{ url_for('export_excel') }}" class="btnSave bg-1 text-fff text-bold fr">NOUVEAU</a>
           </div></h3>
        <div class="fr">
            <a href="{{ url_for('export_excel') }}" class="btnSave bg-1 text-fff text-bold fr">ENREGISTRER</a>
           </div>
    </div>

    <section>
        <article>
            <h2>Total Entreprises</h2>
            <p>{{ total_entreprises }}</p>
        </article>
    
        <article>
            <h2>Total Contacts</h2>
            <p>{{ total_entreprises }}</p>
        </article>
    
        <article>
            <h2>Total Sites Web</h2>
            <p>{{ total_sites_web }}</p>
        </article>
    </section>



    
    <!-- Deuxième section avec le tableau d'informations -->
    <section>
        <h2>Informations sur les entreprises</h2>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Secteur</th>
                    <th>Site Web</th>
                    <th>Mail</th>
                    <th>Ville</th>
                    <th>Contact Mobile</th>
                    <th>Contact Fixe</th>
                    <th>Adresse</th>
                    <th>Actions</th>
                    <!-- Ajoutez d'autres colonnes au besoin -->
                </tr>
            </thead>
            <tbody>
                {% for entreprise in entreprises %}
                    <tr>
                        <td>{{ entreprise['Nom'] }} {{ total_sites_web }}</td>
                        <td>{{ entreprise['Secteur'] }}</td>
                        <td>{{ entreprise['Site Web'] }}</td>
                        <td>{{ entreprise['Mail'] }}</td>
                        <td>{{ entreprise['Ville'] }}</td>
                        <td>{{ entreprise['Contact Mobile'] }}</td>
                        <td>{{ entreprise['Contact Fixe'] }}</td>
                        <td>{{ entreprise['Adresse'] }}</td>
                        <td>
                            <!-- Icône d'édition avec une action associée -->
                            <a href="{{ url_for('edit_entreprise', entreprise_id=entreprise['id']) }}"><i class="fas fa-edit"></i></a>
                            
                            <!-- Icône de suppression avec une action associée -->
                            <a href="{{ url_for('delete_entreprise', entreprise_id=entreprise['id']) }}"><i class="fas fa-trash-alt"></i></a>
                        </td>
                        <!-- Ajoutez d'autres colonnes au besoin -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
<!-- DETAIL FORM -->


<div id="pagination">
    <ul class="pagination list-inline text-center">
        {% if page > 1 %}
            <li><a href="?page={{ page - 1 }}">Prev</a></li>
        {% endif %}
        
        {% set start_page = page - 4 if page - 4 > 0 else 1 %}
        {% set end_page = page + 5 if page + 5 <= total_pages else total_pages %}
        
        {% for p in range(start_page, end_page + 1) %}
            {% if p == page %}
                <li class="is-active"><a href="?page={{ p }}">{{ p }}</a></li>
            {% else %}
                <li><a href="?page={{ p }}">{{ p }}</a></li>
            {% endif %}
        {% endfor %}

        {% if page < total_pages %}
            <li><a href="?page={{ page + 1 }}">Next</a></li>
        {% endif %}
    </ul>
</div>

<script>
    function deleteEntreprise(entrepriseId) {
        // Confirmation éventuelle avec l'utilisateur
        if (confirm("Êtes-vous sûr de vouloir supprimer cette entreprise ?")) {
            // Requête AJAX DELETE
            $.ajax({
                url: '/delete_entreprise/' + entrepriseId,
                type: 'POST',
                success: function(result) {
                    // Traitez la réponse ici
                    console.log(result);
                    // Actualisez ou mettez à jour la page si nécessaire
                    location.reload();
                },
                error: function(error) {
                    // Traitez les erreurs ici
                    console.error('Erreur lors de la suppression :', error);
                }
            });
        }
    }
</script>

{% endblock %}
